body {
    font-family: "font-regular";
}

@font-face {
    font-family: "font-bold";
    src: url('../font/GraphikBold.ttf');
}

@font-face {
    font-family: "font-regular";
    src: url('../font/GraphikRegular.ttf');
}